:root {
  --branding-color: #e3f6f5;
  --secondary-color: #bae8e8;
  --tertiary-color: #272343;
  --box-shadow: 0 3px 8px rgb(39, 35, 67);
  --heading-font-family: "Playfair Display", sans-serif;
  --default-font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4 {
  color: var(--tertiary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 64px;
}
h2 {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: var(--default-font-family);
  border-radius: 2;
}
nav {
  background: linear-gradient(
    90deg,
    rgba(186, 232, 232, 1) 20%,
    rgba(39, 35, 67, 1) 70%
  );
}
.hero {
  text-align: center;
  background: var(--branding-color);
  color: #272343;
  margin: 30px 0;
  padding: 80px;
}
.hero h1 {
  text-decoration: underline;
}
.hero p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}
.hero h2 {
  font-weight: normal;
  font-size: 20px;
}
.navbar-brand {
  color: var(--tertiary-color);
}
.nav-link {
  color: var(--branding-color);
}
.navigation-links {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.primary-link {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: #ffffff;
}
#navbarNav {
  justify-content: flex-end;
}
