h1,
h2,
h3,
h4,
h5 {
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
}

p {
  font-family: Merriweather, serif;
  font-weight: normal;
}
body {
  background-color: rgb(250, 238, 231);
}
