:root {
  --branding-color: #5f1854;
  --secondary-color: #1abb9c;
  --tertiary-color: #f7f7f7;
  --fourth-color: #3b0944;
  --box-shadow: 0 3px 8px rgb(26, 187, 156);
  --heading-font-family: "Playfair Display", sans-serif;
  --default-font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: normal;
}
h1 {
  font-size: 54px;
}
h2 {
  margin: 0;
  color: var(--secondary-color);
}

body {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
  margin: 60px 0 30px 0;
}
nav {
  background: var(--fourth-color);
}

.hero {
  text-align: center;
  background: var(--tertiary-color);
  margin: 30px 0;
  padding: 80px;
}
.hero h1 {
  font-size: 70px;
  font-weight: normal;
  text-decoration: underline;
}
.hero p {
  font-size: 50px;
  margin: 0;
  line-height: 1.5;
  color: var(--fourth-color);
}
.hero h2 {
  font-weight: normal;
  font-size: 20px;
}
.navbar-brand {
  color: var(--tertiary-color);
}
.nav-link {
  color: var(--secondary-color);
}
previewParagraghs {
  margin: 60px 0;
}
.navigationWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.primary-link {
  color: var(--fourth-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  background: var(--tertiary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: bold;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  background: var(--fourth-color);
  box-shadow: var(--box-shadow);
  color: var(--tertiary-color);
}
.portfolioPreviewHeader {
  font-size: 30px;
  text-decoration: underline;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
}

.portfolioWrapper {
  background-color: var(--branding-color);
  padding: 20px;
  color: var(--tertiary-color);
  border: 3px solid var(--secondary-color);
}
.footerWrapper {
  background-color: var(--tertiary-color);
}

#navbarNav {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .hero p {
    font-size: 30px;
  }
  .primary-link,
  .secondary-link {
    display: block;
    text-align: center;
    margin: 0 70px;
  }
}
